@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Playfair+Display:wght@600;700&display=swap');

:root {
  --pine: #071512;
  --forest: #10241d;
  --moss: #8d9870;
  --stone: #d9d3c7;
  --off-white: #f4f1ea;
  --white: #ffffff;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;

  background: var(--pine);
  color: var(--off-white);

  font-family: 'Manrope', sans-serif;

  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
p {
  margin-top: 0;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}
